.main {
  min-height: calc(300vh - 60px);
  margin: 0 auto;
  padding: 60px 50px 0;
  background: #ddd;
  box-sizing:border-box;
  @media screen and (max-width:812px) {
    padding: 16vw 5.333vw 0;
  }
}
.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  @media screen and (max-width:812px) {
    margin-top: 5.333vw;
    font-size: 5.333vw;
  }
}
.counter {
  position: fixed;
  top: 100px;
  left: 50px;
  margin-top: 10px;
  font-size: 20px;
  @media screen and (max-width:812px) {
    top: 26.6667vw;
    left: 5.333vw;
    margin-top: 2.667vw;
    font-size: 5.333vw;
  }
}
.list {
  margin-top: 50px;
  @media screen and (max-width:812px) {
    margin-top: 13.333vw;
  }
}
.item {
  width: 300px;
  height: 300px;
  background: red;
  transition: all .5s ease-out;
  &:nth-child(n + 2) {
    margin-top: 200px;
  }
  @media screen and (max-width:812px) {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    &:nth-child(n + 2) {
      margin-top: 26.667vw;
    }
  }
}
.scroll {
  opacity:0;
  visibility: hidden;
  &.show {
    opacity:1;
    visibility:visible
  }
}