.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  @media screen and (max-width: 812px) {
    margin-top: 5.333vw;
    font-size: 5.333vw;
  }
}
.selected {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  @media screen and (max-width: 812px) {
    margin-top: 5.333vw;
    font-size: 4.267vw;
  }
}
.btns {
  margin-top: 20px;
  @media screen and (max-width: 812px) {
    margin-top: 5.333vw;
  }
  button {
    &:nth-child(n + 2) {
      margin-left: 20px;
      @media screen and (max-width: 812px) {
        margin-left: 5.333vw;
      }
    }
  }
}
