.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  @media screen and (max-width:812px) {
    margin-top: 5.333vw;
    font-size: 5.333vw;
  }
}
.main {
  min-height: 100vmax;
  background: #ddd;
  box-sizing: border-box;
  @media screen and (min-width:813px) {
    padding: 60px 50px;
  }
  @media screen and (max-width:812px) {
    padding: 16vw 5.333vw 0;
  }
}
.AniLinkList {
  margin-top: 5vmax;
  li {
    + li {
      @media screen and (min-width:813px) {
        margin-top:  30px;
      }
      @media screen and (max-width:812px) {
        margin-top: 8vw;
      }
    }
  }
  a {
    color: #4ab4fc;
    display: block;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}